.page {
  position: relative;
  height: 100vh;
  padding-top: 60px;
  background: linear-gradient(166.15deg, #FFA13D 9.85%, #D44239 96.13%);
  @media screen and (max-width: $desktop) {
    padding-top: 30px;
  }
  &__logo {
    margin-left: 60px;
  }
}

.bottomText {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 90px 65px;
  box-shadow: 2px 2px 10px 0px #00000026;
  background-color: #fff;
  border-radius: 32px;
  z-index: 2;
  @media screen and (max-width: $desktop) {
    padding: 38px 20px;
  }
  @media screen and (max-width: $tablet) {
    width: 95%;
  }
  &__title {
    font-weight: 300;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0;
  }
  &__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #D84B39;
    margin-bottom: 44px;
    @media screen and (max-width: $desktop) {
      font-size: 20px;
    }
    @media screen and (max-width: $tablet) {
      margin-bottom: 32px;
    }
  }
  &__label {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0;
    color: #000;
    margin-bottom: 16px;
  }
  &__input {
    width: 100%;
    border-bottom: 2px solid #C1C1C1;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    height: 30px;
    &_icon {
      cursor: pointer;
      position: absolute;
      right: 4px;
      top: 5px;
    }
  }
  &__button {
    margin-top: 32px;
    width: 100%;
    padding: 16px 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #F07F3B;
    border-radius: 16px;
    @media screen and (max-width: $tablet) {
      margin-top: 0;
    }
  }
  &__losePassword {
    margin-top: 32px;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0;
    color: #D84B39;
    background-color: #fff;
  }
  &__inputContainer {
    position: relative;
    width: 100%;
    margin-bottom: 32px;
  }
}